<div id="header">
    <a href="/">
        <div id="logo">RadioWęzeł</div>
    </a>
    <div id="profile">
        <% if (user) { %>
            <a href="/profile"><img src=<%=user.thumbnail%>></a>
            <% } else {%>
                <a href="/login">
                    <div id="login"><img src="/images/google.png">
                        <div>
                            login</div>
                    </div>
                </a>
                <% }%>
    </div>
</div>
<div id="gradientStrip"></div>
