<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/admin.js"></script>
    <script defer src="/js/reconnection.js"></script>
    <title>RadioWęzeł</title>
</head>

<body>
    <div id="contentWrapper">
        <%- include('partials/header.ejs') %>
            <div id="songContainer">
                <% submitQueue.forEach(video=> { %>
                    <div data-videoid="<%= video.ytid %>" class="song">
                        <div class="songContent">
                            <%- video.title %>
                        </div>
                    </div>
                    <% }) %>
            </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>

</html>
