<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <title>Error 404</title>
    <style>
        body {
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <img style="width: 40vw; height: 40vw;" src="/images/broken-vinyl.png">
    <span style="font-size: 5vh;color: gray;">404</span>
    <span style="font-size: 2vh;color: gray;">Nie znaleziono</span>
</body>

</html>
