<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Error 404</title>
    <style>
        #center {
            margin: auto;
            margin-top: 60px;
            font-size: 60px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="center">404</div>
</body>

</html>
