<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>
    <script defer src="/js/index.js"></script>
    <script defer src="/js/reconnection.js"></script>
    <title>RadioWęzeł</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div id="currentSong">
            <img id="thumbnail" src="https://i.ytimg.com/vi/qP-7GNoDJ5c/hqdefault.jpg">
            <div style="height: 5vw;width: 1px;"></div>
            <input min="0" max="100" type="range" disabled>
        </div>
        <!--<img src="/images/waves.png">-->
        <div id="songContainer">
            <% votingQueue.forEach(voteElement=> { %>
                <div class="song">
                    <a href="<%= 'https://www.youtube.com/watch?v=' + voteElement.video.id %> " target="_blank">
                        <div class="songContent">
                            <%= voteElement.video.title %>
                        </div>
                    </a>
                    <% if (user) { %>
                        <div data-videoid="<%= voteElement.video.id %>" class="upvote">^</div>
                        <% } %>
                </div>
                <% }) %>
        </div>
        <% if (user) { %>
            <div id="addSongButton"><a href="submit"><img src="/images/plus.png"></a></div>
            <% } %>
</body>

</html>
