<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>
    <div id="main">
        <a href="/"><img src="/images/logo.png"></a>
        <div id="title">Zaloguj się:</div>
        <a id="hdLogin" class="loginBtn" href="/auth/login">Szkolnym email-em</a>
        <div id="or">lub</div>
        <a id="vLogin" class="loginBtn" href="/auth/login?v=true">Zweryfikowanym email-em</a>
    </div>
</body>

</html>
