<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/player.css">
    <script src="/js/back_btn_reload.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="https://www.youtube.com/iframe_api"></script>
    <script defer src="/js/player.js"></script>
    <script>
        let playerKey = "<%= playerKey %>"
    </script>
    <title>Odtwarzacz</title>
</head>

<body>
    <div id="contentWrapper">
        <%- include("partials/header.ejs") %>
            <div style="width: 0; height: 0; overflow: hidden;">
                <div id="player-iframe"></div>
            </div>
            <div id="player">
                <div class="head">
                    <img id="hidePlayer" class="active" src="/images/menu-arrow.png">
                </div>
                <div class="row row-1">
                    <img id="pause-play" src="/images/play.png">
                    <img id="next" src="/images/right.png">
                    <div>
                        <div id="title">Naciśnij: <img src="/images/right.png"></div>
                        <div id="artist">aby zacząć odtwarzanie</div>
                    </div>
                </div>
                <div class="row row-2">
                    <div id="l-dur">0:00</div>
                    <input id="duration" type="range" min="0">
                    <div id="r-dur">0:00</div>
                </div>
            </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>

</html>
