<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/player.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="https://www.youtube.com/iframe_api"></script>
    <script defer src="/js/player.js"></script>
    <script>
        let playerKey = "<%= playerKey %>"
    </script>
</head>

<body>
    <img class="debugSwitch" src="/images/debug.png" onclick="document.body.classList.toggle('debug')">
    <div id="debugWindow">
        <div id="player-iframe"></div>
        <div id="logger"></div>
    </div>
    <div id="player">
        <div style="flex-grow: 1;"></div>
        <div class="row row-1">
            <div id="pause-play" class="paused">
                <img class="playImg" src="/images/play.png">
                <img class="pauseImg" src="/images/pause.png">
            </div>
            <img id="next" src="/images/right.png">
            <div>
                <div id="title">Naciśnij: <img src="/images/right.png"></div>
                <div id="artist">aby zacząć odtwarzanie</div>
            </div>
        </div>
        <div class="row row-2">
            <div id="l-dur">0:00</div>
            <input id="duration" type="range" min="0">
            <div id="r-dur">0:00</div>
        </div>
    </div>
</body>

</html>
