<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profil</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div id="mainImage">
            <img src="<%= user.thumbnail%>" alt="">
            <div id="username">
                <%- user.name%>
            </div>
        </div>
        <div id="items">
            <% if (user.role=="admin" ) { %>
                <a href="/admin">Admin panel</a>
                <% } %>
                    <br>
                    <a id="logout" href="/auth/logout">Wyloguj</a>
        </div>
</body>

</html>
