<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Profil</title>
    <style>
        body {
            font-size: 5vh;
        }
    </style>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <a href="/logout">Log out</a>
        <br>
        <% if (user.role=="admin" ) { %>
            <a href="/admin">Admin panel</a>
            <% } %>
</body>

</html>
