<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/submit.css">
    <script defer src="/js/submit.js"></script>
    <title>Propozycja</title>
</head>

<body>
    <div id="submitionSuccess">
        <div id="successThumbnail">
            <img id="tick" src="/images/accept.png">
            <div class="darkener"></div>
        </div>
    </div>
    <div id="contentWrapper">
        <%- include("partials/header.ejs") %>
            <div id="search">
                <div id="bar">
                    <input type="text" autofocus="" placeholder="Wpisz szukaną piosenkę">
                </div>
                <div id="icon">
                    <img src="/images/search.png">
                </div>
            </div>
            <div id="loading" class="info"><img src="/images/loading.gif"></div>
            <div id="noResults" class="info"><img src="/images/noresults.png"></div>
            <div id="resultContainer">
                <div style="display: none;">
                    <div id="videoTemplate" class="video">
                        <div class="thumbnail">
                            <img src="">
                        </div>
                        <div class="titleAndCreator">
                            <div class="title"></div>
                            <div class="creator"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>

</html>
