<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/submit.css">
    <script defer src="/js/submit.js"></script>
    <title>Propozycja</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <table>
            <tr>
                <td id="inputTd">
                    <input type="text" autofocus placeholder="Wpisz szukaną piosenkę">
                </td>
                <td id="icon">
                    <img src="/images/search.png">
                </td>
            </tr>
        </table>
        <div id="loading" class="info"><img src="/images/loading.gif"></div>
        <div id="noResults" class="info"><img src="/images/noresults.png"></div>
        <div id="resultContainer"></div>
</body>

</html>
