<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/submit.css">
    <script defer src="/js/submit.js"></script>
    <title>Propozycja</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div id="searchBar">
            <input type="text" autofocus placeholder="Wpisz szukaną piosenkę">
            <div id="icon"><img src="/images/search.png"></div>
            <div style="clear: both;"></div>
        </div>
        <div id="loading" class="info"><img src="/images/loading.gif"></div>
        <div id="noResults" class="info"><img src="/images/noresults.png"></div>
        <div id="songContainer"></div>
        <!--<div class="video">
            <div class="thumbnail">
                <img src="https://i.ytimg.com/vi/8lSZpTgDKGI/hqdefault.jpg">
            </div>
            <div class="titleDiv">
                <div class="title">Why Cobble Here?</div>
            </div>
        </div>-->
</body>

</html>
