<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/submit.css">
    <script src="/js/back_btn_reload.js"></script>
    <script defer src="/js/submit.js"></script>
    <script>
        // remain viewport when mobile keyboard pops out
        let viewport = document.querySelector("meta[name=viewport]")
        viewport.setAttribute("content", viewport.content + ", height=" + window.innerHeight)
    </script>
    <title>Propozycja</title>
</head>

<body>
    <div id="submitionSuccess">
        <div id="loading-response" class="info" style="display: block;"><img src="/images/loading.gif"></div>
        <div id="successThumbnail" style="display: none;">
            <img id="tick" src="/images/accept.png">
            <div class="darkener"></div>
        </div>
    </div>
    <div id="contentWrapper">
        <div id="searchBar">
            <a href="/"><img src="/images/back.png"></a>
            <input id="searchInput" type="text" placeholder="Wpisz szukaną piosenkę" spellcheck="false">
            <img id="searchIcon" src="/images/search.png">
        </div>
        <div id="gradientStrip"></div>
        <div id="loading-results" class="info"><img src="/images/loading.gif"></div>
        <div id="noResults" class="info"><img src="/images/noresults.png"></div>
        <div id="resultContainer">
            <div style="display: none;">
                <div id="videoTemplate" class="video">
                    <div class="thumbnail">
                        <img src="">
                    </div>
                    <div class="titleAndCreator">
                        <div class="title"></div>
                        <div class="creator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>

</html>
