<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/submit.css">
    <script defer src="/javascript/submit.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="logo">RadioWęzeł</div>
    <div id="centerScreen">
        <input type="text">
        <div>
            <a href="/">
                <div class="button" id="exit"></div>
            </a>
            <div class="button" id="submit"></div>
        </div>
    </div>
</body>

</html>