.song {
    width: auto;
    padding: 2vw;
}

.songContent {
    font-size: 7vw;
    white-space: nowrap;
    max-width: 100vw;
    overflow: scroll;
}

#manage {
    margin: 1vh;
}

#iframeWrapper {
    margin-bottom: 1vh;
}

iframe {
    width: 100%;
    animation: iframe-loading 1s linear infinite alternate;
    height: 25vh;
}

@supports (aspect-ratio: 1 / 1) {
    iframe {
        aspect-ratio: 16 / 9;
        height: auto;
    }
}

@keyframes iframe-loading {
    0% {
        background-color: #fff2;
    }
    100% {
        background-color: #eeee;
    }
}

#buttons {
    display: flex;
    overflow: scroll;
    margin-bottom: 1vh;
}

.button {
    min-width: 10vh;
    max-width: 10vh;
    height: 10vh;
    border-radius: 3vh;
    margin-right: 1vh;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#deny {
    background-color: #c02739;
}

#accept {
    background-color: #4ef037;
}

#link {
    background-color: #007acc;
}

#lyrics {
    background-color: #f6c90e;
}

#lyricsText {
    font-size: 2vh;
}
