.button {
    margin: 1vh;
    width: 10vh;
    height: 10vh;
    float: left;
    border-radius: 3vh;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#deny {
    background-color: #c02739;
}

#accept {
    background-color: #4ef037;
}

#link {
    background-color: #007acc;
}

.song {
    width: auto;
    padding: 2vw;
}

.songContent {
    font-size: 7vw;
    white-space: nowrap;
    max-width: 100vw;
    overflow: scroll;
}
