.button {
    margin-top: 10px;
    width: 50%;
    height: 100px;
    float: left;
}

#deny {
    background-color: red;
}

#accept {
    background-color: lime;
}

.song {
    width: auto;
    padding: 2vw;
}

.songContent {
    font-size: 7vw;
    white-space: nowrap;
    max-width: 100vw;
    overflow: scroll;
}
