#contentWrapper {
    font-size: 2.5vh;
}

.setting {
    box-sizing: border-box;
    padding: 1vw;
    min-height: 9vw;
}

.stringArray {
    box-sizing: border-box;
    padding: 3vw;
    max-height: 20vh;
    overflow-y: scroll;
    background-color: #4f4f4f;
    border-radius: 1vh;
}

.saEl {
    white-space: nowrap;
    max-width: 100vw;
    overflow: scroll;
    margin-bottom: 1vh;
}

.addEl {
    font-weight: bold;
}

input[type=checkbox] {
    height: 7vw;
    width: 7vw;
    filter: grayscale(100%);
    float: right;
}

#saveBtn {
    box-sizing: border-box;
    margin: 2vh 2.5vw 0 2.5vw;
    width: 95vw;
    background-color: dodgerblue;
    padding: 3vw;
    text-align: center;
    border-radius: 100vh;
}
