:root {
    --song-padding: 10px
}

img {
    width: 100%;
    height: 100%;
}

#currentSong {
    width: auto;
    background-color: #1e1e1e;
    padding: 5vw;
}

#thumbnail {
    width: 100%;
    border-radius: 3vw;
}

table#progressBar {
    font-size: 2vh;
    margin-right: 1vw;
    margin-left: 1vw;
}

td.bar {
    width: 100%;
    padding-right: 1vw;
    padding-left: 1vw;
}

input.bar {
    width: 100%;
    -webkit-appearance: none;
    height: 1vh;
    background: linear-gradient(to right, #01be97 0%, #01be97 50%, #d4d4d4 50%, #d4d4d4 100%);
    border-radius: 1vh;
    outline: none;
}

input.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #3e3e42;
}

input.bar::-moz-range-thumb {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #3e3e42;
}

/************************************/

.overflowWrapper {
    width: calc(100% - 4vw);
    overflow: scroll;
    padding: 2vw;
}

.songContent {
    white-space: nowrap;
    font-size: 7vw;
    min-width: 86vw;
    max-width: 86vw;
}

.upvote {
    font-size: 9vw;
    text-align: center;
    min-width: 11vw;
    max-width: 11vw;
    padding: 1vw;
}

/************************************/

#addSongButton {
    position: fixed;
    bottom: 0;
    display: block;
    width: 20vw;
    height: 20vw;
    background-color: #4ef037;
    position: fixed;
    float: left;
    left: 5vw;
    bottom: 5vw;
    border-radius: 50%;
    /*background: rgb(2, 227, 51);*/
    /*background: linear-gradient(90deg, rgba(2, 227, 51, 1) 0%, rgba(0, 153, 250, 1) 100%);*/
}
