:root {
    --song-padding: 10px
}

img {
    width: 100%;
    height: 100%;
}

#currentSong {
    width: auto;
    background-color: #1e1e1e;
    padding: 5vw;
}

#thumbnail {
    width: 100%;
    border-radius: 3vw;
}

#progressBar {
    font-size: 2vh;
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
}

.bar {
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

input.bar {
    -webkit-appearance: none;
    height: 1vh;
    background: linear-gradient(to right, #01be97 0%, #01be97 50%, #d4d4d4 50%, #d4d4d4 100%);
    border-radius: 1vh;
    outline: none;
}

input.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #3e3e42;
}

input.bar::-moz-range-thumb {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #3e3e42;
}

/************************************/

.song {
    display: flex;
}

.title {
    font-size: 4vh;
    overflow: scroll;
    white-space: nowrap;
    padding: 2vw;
    flex-grow: 1;
    display: flex;
}

.upvote {
    font-size: 5vh;
    padding: 1vw;
    text-align: center;
    min-width: 11vw;
    max-width: 11vw;
    overflow: hidden;
}

/*addSongButton:*/

#addSongButton {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vh;
    height: 12vh;
    background-color: #4ef037;
    position: fixed;
    float: left;
    left: 5vw;
    bottom: 5vw;
    border-radius: 50%;
}

.clicked {
    animation: animation 1s infinite ease;
}

@keyframes animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
