body {
    font-family: Arial;
    width: 100vw;
    height: 90vh;
    margin: 0;
    background: linear-gradient(225deg, rgba(0,255,0,1) 0%, rgba(14,213,177,1) 55%, rgba(0,212,255,1) 100%);
}

img {
    height: 12vh;
    filter: brightness(40%);
}

#main {
    width: 70vw;
    height: 50vh;
    margin: auto;
    margin-top: 10vh;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 2vh 2vh 4vh -2vh #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: #555;
}

#title {
    font-size: 3vh;
}

#or {
    font-size: 1.8vh;
}

.loginBtn {
    padding: 1.5vh;
    width: 60%;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 2.2vh;
    border-radius: 100vh;
}

#hdLogin {
    background-color: #07ea57;
}

#vLogin {
    background-color: #03d4e8;
}
