body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #2d2d30;
    color: #d4d4d4;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: #d4d4d4;
}

#header {
    height: 7vh;
    background-color: #3e3e42;
    padding: 1.5vh;
}

#logo {
    float: left;
    font-size: calc(7vh - 10px);
}

#profile {
    float: right;
}

#profile img {
    height: 7vh;
    border-radius: 50%;
}

#login {
    height: 7vh;
    width: 30vw;
    background-color: #1e1e1e;
    border-radius: 100vw;
}

#login img {
    position: relative;
    left: -2px;
    height: 7vh;
    width: 7vh;
    float: left;
}

#login div {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 4vw;
    font-size: 2vh;
}

#gradientStrip {
    background: rgb(2, 227, 51);
    background: linear-gradient(90deg, rgba(2, 227, 51, 1) 0%, rgba(0, 153, 250, 1) 100%);
    width: inherit;
    height: 1vh;
}
