:root {
    --bg-color: #2a2a2c;
    --white: #d4d4d4;
    --dark: #1e1e1e;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: var(--bg-color);
    color: var(--white);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.flexSeparator {
    flex-grow: 1;
}

#contentWrapper {
    flex-grow: 1;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--white);
    text-decoration: inherit;
}

#header {
    height: 7vh;
    background-color: #2d2d2f;
    padding: 1.5vh;
    display: flex;
}

#logo {
    height: 7vh;
    width: 9vh;
}

#login {
    height: 7vh;
    width: 27vw;
    background-color: var(--dark);
    border-radius: 100vw;
}

#login img {
    position: relative;
    left: -2px;
    height: 7vh;
    width: 7vh;
    float: left;
}

#login div {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 4vw;
    font-size: 2vh;
}

/*burger*/

#dropdownController {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 7vh;
    transition: all .5s ease-in-out;
}

#burger {
    width: 100%;
    height: 0.7vh;
    background: var(--white);
    border-radius: 1vh;
    transition: all .5s ease-in-out;
}

#burger::before, #burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.7vh;
    background: var(--white);
    border-radius: 1vh;
    transition: all .5s ease-in-out;
}

#burger::before {
    transform: translateY(-2vh);
}

#burger::after {
    transform: translateY(2vh);
}

#dropdownController.show #burger {
    transform: translateX(-50px);
    background: transparent;
}

#dropdownController.show #burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

#dropdownController.show #burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/*dropdown:*/

#dropdown {
    position: relative;
}

#dropdownItems {
    display: none;
    position: absolute;
    margin-top: 0.5vh;
    right: 0;
    width: fit-content;
    max-width: 97vw;
    background-color: var(--bg-color);
    overflow: hidden;
    border-radius: 1vw;
    flex-direction: column;
    z-index: 1;
}

#dropdownItems>div {
    font-size: 3vh;
    padding: 1.5vh;
    white-space: nowrap;
}

.show {
    display: flex !important;
}

#logout {
    color: #c02739;
}

#gradientStrip {
    background: linear-gradient(90deg, rgba(2, 227, 51, 1) 0%, rgba(0, 153, 250, 1) 100%);
    width: inherit;
    height: 1vh;
}

#footer {
    box-sizing: border-box;
    width: auto;
    height: 5vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #262626;
    color: #4e4e52;
    font-size: 1.3vh;
}
