body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    background-color: #4f4f4f;
}

#header {
    width: auto;
    padding: 10px;
    background-color: darkgray;
    font-size: xx-large;
    overflow: auto;
    width: auto;
}

#logo {
    float: left;
}

#profile {
    float: right;
    right: 0;
}

#profile img {
    max-height: 37px;
    border-radius: 50%;
}
