/* everything is based on vw because iframe is meant to be a square */

#player {
    width: 100vw;
    height: 100vw;
    padding: 5vw;
    --image: url("/images/default-music.png");
    --loading: url();
    background-image: var(--loading), linear-gradient(to top, rgba(45, 45, 45, 0.9), rgba(45, 45, 45, 0.9) 30%, rgba(0, 0, 0, 0) 60%), var(--image);
    background-size: 11vw, cover, cover;
    background-position: bottom, center, center;
    background-repeat: repeat-x, no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#player.loading {
    --loading: url("/images/loading.gif");
}

#player .row {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
}

#player .row-1 {
    padding-bottom: 4vw;
}

#player .row-1>* {
    margin-right: 2vw;
}

#pause-play {
    width: 15vw;
    height: 15vw;
    overflow: hidden;
}

#pause-play .playImg {
    display: none;
}

#pause-play .pauseImg {
    display: block;
}

#pause-play.paused .playImg {
    display: block;
}

#pause-play.paused .pauseImg {
    display: none;
}

#pause-play img {
    width: 100%;
    height: 100%;
}

#next {
    width: 8vw;
    height: 8vw;
}

#title {
    font-size: 7.5vw;
    font-weight: bold;
    max-width: 60vw;
    overflow: scroll;
    white-space: nowrap;
}

#title img {
    width: 6vw;
}

#artist {
    font-size: 4vw;
    color: grey;
    max-width: 60vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.miniNext {
    height: 3.5vw;
    width: 3.5vw;
}

#player .row-2 {
    font-size: 3vw;
    --color: #fff;
    color: var(--color);
}

#duration {
    flex-grow: 1;
    margin: 0 2vw;
    --percentage: 50;
    -webkit-appearance: none;
    height: 1vw;
    outline: none;
    border-radius: 100vw;
    background: linear-gradient(to right, var(--color) 0%, var(--color) calc(var(--percentage) * 1%), #535353 calc(var(--percentage) * 1%), #535353 100%);
}

#duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: white;
}
