#search {
    display: flex;
}

#search #bar {
    flex-grow: 1;
    padding: 1vh;
}

#search #bar input {
    width: 100%;
    height: 7vh;
    box-sizing: border-box;
    font-size: 3vh;
    padding-left: 5vw;
    background-color: #848484;
    border-radius: 50vh;
    border: none;
}

#search #bar input {
    outline-width: 0;
}

#search #icon {
    padding: 1vh 1vh 1vh 0;
}

#search #icon img {
    width: 7vh;
    height: 7vh;
}

.info {
    width: auto;
    padding-top: 5vh;
    display: none;
}

.info img {
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#resultContainer {
    width: auto;
}

.video {
    width: auto;
    overflow: hidden;
    position: relative;
}

.video>div {
    margin: 2vw;
}

submitted {
    background-color: #57cc47bb;
}

tolong {
    background-color: #c02739bb;
}

.unclickable {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.thumbnail {
    float: left;
    max-width: calc(35% - 4vw);
}

.thumbnail img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 2vw;
}

.titleAndCreator {
    width: calc(60% - 4vw);
    float: left;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2.5vh;
}

.creator {
    font-size: 2vh;
    color: grey;
}

#submitionSuccess {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #212121aa;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

#successThumbnail {
    position: relative;
    width: 60vw;
    height: 60vw;
    border-radius: 2vh;
    overflow: hidden;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.darkener {
    width: 100%;
    height: 100%;
    background-color: #212121aa;
    position: absolute;
}

#submitionSuccess #tick {
    --def-size: 20vw;
    width: var(--def-size);
    height: var(--def-size);
    z-index: 3;
}

.tickAnimation {
    animation: tickAni .7s ease;
}

@keyframes tickAni {
    0% {
        width: var(--def-size);
        height: var(--def-size);
    }

    20% {
        width: 15vw;
        height: 15vw;
    }

    80% {
        width: 30vw;
        height: 30vw;
    }

    100% {
        width: var(--def-size);
        height: var(--def-size);
    }
}
