#centerScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: fit-content;
    font-size: 3vh;
}

#search {
    display: flex;
}

#search #bar {
    flex-grow: 1;
    padding: 1vh;
}

#search #bar input {
    width: 100%;
    height: 7vh;
    box-sizing: border-box;
    font-size: 3vh;
    padding-left: 5vw;
    background-color: #848484;
    border-radius: 50vh;
    border: none;
}

#search #bar input {
    outline-width: 0;
}

#search #icon {
    padding: 1vh 1vh 1vh 0;
}

#search #icon img {
    width: 7vh;
    height: 7vh;
}

.info {
    width: auto;
    padding-top: 5vh;
    display: none;
}

.info img {
    max-height: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#resultContainer {
    width: auto;
}

.video {
    width: auto;
    overflow: hidden;
    position: relative;
}

.video div {
    float: left;
    padding: 2vw;
    font-size: 3vh;
}

submitted {
    background-color: #57cc47bb;
}

tolong {
    background-color: #c02739bb;
}

.unclickable {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.thumbnail {
    width: calc(40% - 4vw);
}

.thumbnail img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 2vw;
}

.titleDiv {
    width: calc(60% - 4vw);
    max-height: 100%;
}
