:root {
    --brightness: 0.65;
}

#searchBar {
    display: flex;
}

#gradientStrip {
    height: .2vh;
}

::placeholder {
    color: white;
    filter: brightness(var(--brightness));
}

#searchBar img {
    width: 13vw;
    height: 13vw;
    filter: brightness(var(--brightness));
}

#searchBar a {
    width: 13vw;
    height: 13vw;
}

#searchInput {
    width: 74vw;
    height: 13vw;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0 2vw;
    font-size: 2vh;
    color: var(--white);
}

.info {
    width: auto;
    padding-top: 5vh;
}

.info img {
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: brightness(60%);
}

#resultContainer {
    width: auto;
}

.video {
    width: auto;
    overflow: hidden;
    position: relative;
}

.video .elMargin {
    margin: 2vw;
}

.submitted {
    background-color: #57cc47bb;
}

.toLong {
    background-color: #c02739bb;
}

.unclickable {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.thumbnail {
    float: left;
    max-width: calc(35% - 4vw);
}

.thumbnail img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 2vw;
}

.titleAndCreator {
    width: calc(60% - 4vw);
    float: left;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2.5vh;
}

.creator {
    font-size: 2vh;
    color: grey;
}

#submitionSuccess {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #212121aa;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

#successThumbnail {
    position: relative;
    width: 60vw;
    height: 60vw;
    border-radius: 2vh;
    overflow: hidden;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.darkener {
    width: 100%;
    height: 100%;
    background-color: #212121aa;
    position: absolute;
}

#submitionSuccess #tick {
    --def-size: 20vw;
    width: var(--def-size);
    height: var(--def-size);
    z-index: 3;
}

.tickAnimation {
    animation: tickAni .7s ease;
}

@keyframes tickAni {
    0% {
        width: var(--def-size);
        height: var(--def-size);
    }

    20% {
        width: 15vw;
        height: 15vw;
    }

    80% {
        width: 30vw;
        height: 30vw;
    }

    100% {
        width: var(--def-size);
        height: var(--def-size);
    }
}
