YT_KEYS="YOUTUBE KEYS" # Seperated by spaces
PY_SECRET="SECRET KEY TO CONNECT WITH PYTHON"
MONGO_URL="url to mongodb database"
GOOGLE_AUTH_ID="google auth client ID"
GOOGLE_AUTH_SECRET="google auth client secret"
COOKIE_SECRET="secret string for encoding cookies"
